/* .react-parallax-bgimage {
    max-height: 40%;
} */

html,
body {
    height: 100%;
}

.navbar a {
    /* max-width: 5rem; */
    /* max-width: 20%; */
    text-align: center;
}

.navbar-toggler {
    margin: 1rem 0;
}

@media (min-width: 992px) {
    h2 {
        font-size: 1.5rem !important;

    }
}

h1 {
    font-size: 2rem !important;
}