.feed-item {
    /* width: 60%; */
    /* max-width: 400px; */
    /* max-width: 60%; */
    max-width: 100%;
    /* margin: 1rem; */
    border-radius: 2rem;
}

.modal-dialog {
    max-width: 100vw;
}

.modal-content {
    overflow: scroll;
}

.modal-body {
    margin: auto;
}

.modal-image {
    margin: auto;
}

/* video.feed-item {
    
} */

button {}

/* .feed-video-wrapper {
    display: inline;
} */

.feed-item-wrapper {
    display: inline-flex;
    /* max-width: 30%; */
    /* max-width: 60%; */
    max-width: 30%;
    align-items: center;
    margin-top: calc(var(--bs-gutter-x) * .5);
    margin-bottom: calc(var(--bs-gutter-x) * .5);
}

.feed-item-wrapper {
    /* margin-top: auto;
    margin-bottom: auto; */
}

.modal-title {
    margin: 1rem;
    max-width: 95%;
}

/* .modal-header>button {
    position: relative;
    top: -2.5rem;
} */

.modal-header button {
    margin: 1rem;
}

.modal-header {
    align-items: start;
}