div {
  max-width: 100%;
  justify-content: center;
}

img {
  /* max-height: 400px; */
  /* min-height: 10%; */
  /* width: 60%;
  max-width: 400px; */
}

#main-logo {
  /* width: 60%; */
  max-width: 400px;
}

.logo-wrapper {
  overflow: auto;
}