.navbar {
  background-color: #77c6cc;
}

body .navbar a {
  color: #1d1e19;
}

body * {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Turnpike', sans-serif;
  font-weight: bold;
  line-height: 1.5em;
  /* color: red; */
}

/* @font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(../../assets/fonts/Roboto/Roboto-Black.ttf)
} */

@font-face {
  font-family: 'Turnpike';
  src: local('Turnpike'), url(../../assets/fonts/Turnpike.ttf)
}

.active {
  background-color: #fbf8cf;
  border-radius: 2rem;
}

html body .navbar {
  margin: 0rem;
}

.nav-link {
  /* margin: 0 1rem; */
  min-width: 10rem;
}